<div id="content" class="col-lg-12 col-lg-offset-1">
    <header id="header" class="col-lg-12">
        <h1>{{title}}</h1>
    </header>
    <nav id="nav" class="col-lg-12">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">List Products</a></li>
            <li><a href="#">Add product</a></li>
        </ul>
    </nav>
    <section id="main" class="col-lg-12">
        <!-- Components -->
        <h3>Main text</h3>
    </section>
    <footer id="footer" class="col-lg-12">
        <p>Course Angular 4</p>
    </footer>
</div>
