<!-- <h2>{{titleProduct}}</h2> -->
<hr />
<div *ngIf="!products">
    Loading list...
</div>
<div *ngIf="products">
    <!-- <div class="container"> -->
    <div class="row">
        <div class="col-lg-3" *ngFor="let prod of products">
            <div class="thumbnail">
                <div *ngIf="prod.image" class="img-container">
                    <img src="http://localhost:8089/uploads/{{prod.image}}" class="product-image" />
                </div>
                <div *ngIf="!prod.image" class="img-container">
                    <img class="no-product-image" />
                </div>
                <div class="caption">
                    <h3>{{prod.name}}</h3>
                    <p>{{prod.price}} €</p>
                    <p>
                        <a [routerLink]="['/product', prod.id]" class="btn btn-sm btn-primary"> See </a>
                        <a href="#" class="btn btn-sm btn-warning"> Edit </a>
                        <a href="#" class="btn btn-sm btn-danger"> Delete </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>