<!-- <h2>{{titleProduct}}</h2> -->
<hr />
<div *ngIf="!products">
    Loading list...
</div>
<div *ngIf="products">
    <!-- <div class="container"> -->
    <div class="row">
        <div class="col-lg-3" *ngFor="let prod of products">
            <div class="thumbnail">
                <div *ngIf="prod.image" class="img-container">
                    <img src="http://localhost:8089/uploads/{{prod.image}}" class="product-image" />
                </div>
                <div *ngIf="!prod.image" class="img-container">
                    <img class="no-product-image" />
                </div>
                <div class="caption">
                    <h3>{{prod.name}}</h3>
                    <p>{{prod.price}} €</p>
                    <div class="buttonsCrud" *ngIf="confirmed != prod.id">
                        <a [routerLink]="['/product', prod.id]" class="btn btn-primary"> See </a>
                        <a [routerLink]="['/editProduct', prod.id]" class="btn btn-warning"> Edit </a>
                        <a class="btn btn-danger" (click)="deleteConfirmed(prod.id)"> Delete </a>
                    </div>
                    <div class="sure" *ngIf="confirmed==prod.id">
                        <a class="btn btn-md btn-danger" (click)="onDeleteProduct(prod.id)"> I want delete it </a>
                        <a class="btn btn-md btn-secondary" (click)="cancelConfirmed()"> Cancel </a>
                        <!-- <p>Are you sure to delete this product?</p> -->
                        <!-- <a class="btn btn-md btn-danger" (click)="onDeleteProduct(prod.id)"> Delete </a>
                        <a class="btn btn-md btn-secondary" (click)="cancelConfirmed()"> Cancel </a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>