/* You can add global styles to this file, and also import other style files */

body {
    display: flex;
    justify-content: center;
}

.width_w {
    width: 75%;
}

.product-image {
    width: 100%;
    height: 200px;
    margin: 0rem auto;
    display: block;
}

.product-image-edit {
    display: block;
    margin-bottom: 0.5rem;
    height: 100px;
}
